.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 20px 0;
}

.input-box-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-box {
    width: 500px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 50px;
}

.copy-button,
.delete-button,
.score-button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    height: 50px;
    width: 100px;
}

.copy-button {
    margin-right: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
}

.delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
}

.score-button {
    margin-left: 10px;
    background-color: cornflowerblue;
    border: none;
    color: #fff;
}

.add-box-button {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6096b4;
    color: #fff;
    border: none;
}

.dropdown-menu {
    position: absolute;
    background-color: #FFF3E0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 10px;
}