.Quiz-header {
    text-align: center;
    background-color: #88acc9;
    height: 100px;
    padding-top: 5px;
  }
  .Answer-text {
    text-align: center;
    color: #56a5eb;
  }
  .Center {
    text-align: center;
  }
  .Intro-text {
    text-align: center;
    font-family: sans-serif;
    color: rgb(16, 151, 16);
    font-weight: bold;
  }

  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
  }
  
