.homepage {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #eee9da;
  height: 50vw;
}

.homepage header {
  background-color: #6096b4;
  width: 100%;
}

.button-container {
  /* other styles */
  padding-top: 75px;
  padding-left: 55%;
  margin: 0;
  padding-bottom: -10px;
}

.quiz-button {
  margin: 0;
  background-color: #b0c988;
  height: 30px;
  width: 70px;
}

.history-button {
  margin: 0;
  background-color: #b0c988;
  height: 30px;
  width: 70px;
}

.compare-button {
  margin: 0;
  background-color: #b0c988;
  height: 30px;
  width: 70px;
}

.filter-button {
  margin: 0;
  background-color: #b0c988;
  height: 30px;
  width: 70px;
}
