.homepage {
  font-family: sans-serif;
  text-align: center;
}

.homepage h1 {
  background-color: #6096b4;
  margin: 0;
  width: 100vw;
  height: 100px;
}

.homepage h2 {
  background-color: #eee9da;
  margin: 0;
  height: 100px;
  padding-top: 100px;
  width: 100vw;
  z-index: 1;
}

.homepage p {
  background-color: #eee9da;
  margin: 0;
  width: 100vw;
  height: 95vw;
}

.button-container {
  /* other styles */
  padding-top: 75px;
  padding-left: 60%;
  margin: 0;
  padding-bottom: 100px;
}

.quiz-button {
  margin: 0;
  background-color: #b0c988;
}

.history-button {
  margin: 0;
  background-color: #b0c988;
}

.compare-button {
  margin: 0;
  background-color: #b0c988;
}

.filter-button {
  margin: 0;
  background-color: #b0c988;
}
