.homepage {
  font-family: sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #eee9da;
  height: 50vw;
}

.homepage header {
  background-color: #6096b4;
  width: 100%;
}

.button-container {
  /* other styles */
  padding-top: 75px;
  padding-left: 55%;
  margin: 0;
  padding-bottom: -10px;
}

.quiz-button {
  margin: 0;
  background-color: #b0c988;
  height: 30px;
  width: 70px;
}

.history-button {
  margin: 0;
  background-color: #b0c988;
  height: 30px;
  width: 70px;
}

.compare-button {
  margin: 0;
  background-color: #b0c988;
  height: 30px;
  width: 70px;
}

.filter-button {
  margin: 0;
  background-color: #b0c988;
  height: 30px;
  width: 70px;
}

.filter-button:hover {
  background-color: #3d8b3d;
}

.filter-content {
  font-size: 18px;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px;
  z-index: 1;
  /* hide filter by default */
  display: none; 
}

/* show the filter content on hover */
.filter-button:hover + .filter-content,
.filter-content:hover {
  display: block; 
}

.slider-value {
  margin-left: 8px;
}

.filter-content label {
  display: block;
}
